.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background: none;
  border: none;
  background-color: white;
  color: var(--fg-secondary);
  padding: 15px;
  border-radius: var(--border-radius-normal);
}

.container div {
  height: 30px;
  display: flex;
  align-items: center;
}

.container svg {
  height: 20px;
}

.disabled {
  opacity: 0.5;
}
