.container {
  text-align: center;
  color: white;
}

.container form {
  padding: 0 40px;
}

.errorMsgContainer {
  margin: 10px auto 15px auto;
}

.errorMsg {
  padding: 10px 20px;
  border-radius: var(--border-radius-normal);
  background-color: red;
  color: white;
}
